.row:first-of-type{
  margin-top: 90px;
}
#pic-container{
  margin-top: 15px;
}
#pic-container>img, #pic-container>video, #profile-pic-container>img{
  width: 100%;
  border: 2px solid #dddddd;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  background-color: white;
  margin-bottom: 5px;
}
#profile-pic-container>img{
  margin-bottom: 20px;
}

#profile-content{
  padding-bottom: 50px;
}

#profile-content>h4, #about-site>h4, #seal-header{
  margin: 0 auto;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 5px;
  display: block;
  padding: 20px;
  text-align: center;
}

#seal-header{
  margin-top: 15px !important;
}


@media (min-width: 750px) {
}

.descrip{
  margin: 0 auto;
  margin-top: 15px;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 5px;
  display: block;
  padding: 20px;
}

.descrip>h6{
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}
.descrip>p{
  display: inline-block;
}

.line{
  background-color: #dddddd;
  height: 1px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}


.credit{
  display: block;
  margin: 0 auto;
  font-size: 12px;
}

.credit>p{
  display: inline-block;
}
