#question-sidebar{
  padding-top: 90px;
  display: inline-block;
}

#visible-sidebar{
  background-color: white;
  display: block;
  margin: 0 auto;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 15px;
}

#visible-sidebar>h4{
  text-align: center;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 2.5rem;
  padding-bottom: 15px;
}

#visible-sidebar>ul{
  list-style: none;
  margin: 0;
}

#visible-sidebar>ul>li{
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
  margin: 0 !important;
  padding-bottom: 1.3rem;
}

#visible-sidebar>ul>li:hover{
  color: #0FA0CE;
}
