<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naturalist Chat</title>
    <!--CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/question.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <!--Scripts-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script type='text/javascript' src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type='text/javascript' src='/scripts/questions.js'></script>
    <script type='text/javascript' src="/scripts/functions.js"></script>

</head>

<body ng-app='questions'>
    <nav>
        <div>
            <h6 id='branding'>NATURALIST CHAT</h6>
            <img id='hamburger-button' src='/images/icons/hamburger.svg' alt='navigation hamburger' />
            <ul id='nav-links'>
                <li>
                    <a id='nav-link-about' href=''>QUESTIONS</a>
                </li>
                <li>
                    <a id='nav-link-form' href=''>NATURALISTS</a>
                </li>
                <li>
                    <a id='nav-link-form' href=''>ABOUT</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class='container' ng-controller="answers">
        <div class='row'>
            <div id='question-sidebar' class='four columns'>
                <div id='visible-sidebar'>
                    <h4>Questions</h4>
                    <ul ng-repeat="x in quesans">
                        <li id='{{x.id}} 'ng-click="showSelected($event)"> {{ x.question }} </li>
                    </ul>
                </div>
            </div>
            <div id='question-content' class='eight columns'>
                <h4 id='question'>Please Select a Question</h4>
                <div class="answer-feed" data-ng-repeat="x in quesans" ng-show="{{x.id}}" >
                    <div class='answer' data-ng-repeat="x in x.responses">
                        <div class='answer-header'>
                            <img class='profile-pic' src='{{x.pic}}' alt='profile-picture' />
                            <h2 class='name'> {{x.name}} </h2>
                            <p class='shared'> shared a response</p>
                            <p class='like-counter'>{{x.likes}}</p>
                            <img class='like-button' src='/images/icons/like.svg' alt='like button' />
                        </div>
                        <p> {{x.answer}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
